.card-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.card-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--text-primary-color);
  height: 220px;
  background-color: var(--background-secondary-color);
}

.card-category img {
  height: 80px;
}

.card-category footer h3 {
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .card-category {
    width: 280px;
  }
}
