@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --tittle-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-tittle h2 {
  font-size: 28px;
  font-weight: var(--tittle-weight);
  margin: 0;
  text-align: center;
}

.section-tittle hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--tittle-weight);
  font-size: 20px;
  background-color: var(--secundary-color);
  border-radius: 16px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  width: 312px;
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .section-tittle h2 {
    font-size: 32px;
  }

  .card-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1920px) {
  .card-list {
    width: 1250px;
    margin: 0 auto;
  }
}
