.hero {
  margin: 0;
  padding: 0;
}

.hero h2 {
  padding: 88px 24px 0;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

.hero-img {
  width: 100%;
  height: 460px;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-img.hero-no-conten {
  height: 400px;
}

.hero-img .hero-content {
  color: #ffffff;
  text-align: left;
  padding: 65px 24px;
}

.hero-img .hero-content h1 {
  font-size: 48px;
  font-weight: var(--tittle-weight);
}

.hero-img .hero-content hr {
  margin-left: 0;
}

.hero-img .hero-content p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.5;
}

.pre-footer .hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/hero-pre-footer-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero h2 {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 32px;
  }

  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-img.hero-no-conten {
    height: 620px;
  }

  .hero-img .hero-content {
    padding: 210px 70px 108px 120px;
  }

  .hero-img .hero-content p {
    font-size: 32px;
  }

  .pre-footer .hero-img {
    width: 100%;
    height: 400px;
    background: url(../img/hero-pre-footer-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-img .hero-content {
    padding: 210px 80px 108px 130px;
  }

  .hero h2 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .hero h2 {
    padding: 104px 120px 0;
  }

  .pre-footer .hero-img {
    height: 600px;
  }

  .hero-img .hero-content {
    padding: 160px 740px 160px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding-left: 160px;
    padding-right: 160px;
  }
}
