.hero {
  margin: 0;
  padding: 0;
}

.hero-img {
  width: 100%;
  height: 400px;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  padding: 88px 24px 0;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero h2 {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .hero h2 {
    padding: 104px 120px 0;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding-left: 160px;
    padding-right: 160px;
  }
}
