.card-offer {
  color: var(--text-secondary-color);
  height: 288px;
}

.card-offer header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.card-offer header h3 {
  font-size: 40px;
  font-weight: var(--tittle-weight);
  margin: 8px 0 0;
}

.card-offer header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card-offer.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.card-offer.san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.card-offer.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

.card-offer.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1024px) {
  .card-offer {
    width: 420px;
    height: 308px;
  }

  .card-offer header h3 {
    font-size: 48px;
  }

  .card-offer header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card-offer {
    width: 588px;
    height: 308px;
  }

  .card-offer header h3 {
    font-size: 48px;
  }
}
