.image-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "bag passport" /* Primeira linha: duas áreas lado a lado */
    "people people"; /* Segunda linha: uma área ocupando duas colunas */
  height: 400px;
  gap: 24px;
}

.image.bag {
  grid-area: bag;
  background: url("../img/bg-bag-mobile.jpg") no-repeat center;
  background-size: cover;
}

.image.passport {
  grid-area: passport;
  background: url("../img/bg-passport-mobile.jpg") no-repeat center;
  background-size: cover;
}

.image.people {
  grid-area: people;
  grid-column: span 2;
  background: url("../img/bg-people-mobile.jpg") no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}
